doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
    block content
      .col-md-12
        .col-md-2
          a(href='/index') Jerry
        .col-md-2
          a(href='/mom') Mom
        .col-md-2
          a(href='/dad') Dad
        .col-md-2
          a(href='/tarobapo') Taro Bapo
        .col-md-2
          a(href='/marobapo') Maro Bapo
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')